; language=ini
; Полностью отключить supply-chain политику
pnpm.enable-pre-post-scripts=true
pnpm.onlyBuiltDependencies=false
pnpm.ignore-workspace-root-check=true
pnpm.filter-scripts-from-lockfile=false
