.AuthFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 24px 20px;
  font-family: "Jura", sans-serif;
  background-color: #3c3126;
}

.AuthFooter-Links {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.AuthFooter-Links a {
  font-size: 15px;
  color: #e8dcc4;
  opacity: 0.75;
  text-decoration: none;
  transition: all 0.2s ease;
}

.AuthFooter-Links a:hover {
  color: #ff7043;
  opacity: 1;
}

.AuthFooter-Mail {
  font-size: 15px;
  color: #e8dcc4;
  opacity: 0.6;
  text-decoration: none;
  transition: all 0.2s ease;
}

.AuthFooter-Mail:hover {
  color: #ff7043;
  opacity: 1;
}